/*#region RESET (Do not touch */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*#endregion /RESET (Do not touch) */

/*#region Root variables and colour classes */
:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

.text-primary {
  color: #b6b6b6;
}

.text-secondary {
  color: #ececec;
}

.bg-primary {
  background-color: #23232e;
}

.bg-secondary {
  background-color: #141418;
}
/*#endregion /Root variables and colour classes */

/*#region Global classes */
.text-center {
  text-align: center;
}

.container {
  padding: 4rem;
}
/*#endregion /Global classes */

/*#region Body and Main styling */
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
}
/*#endregion /Body and Main styling */

/*#region Navigation styling */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  background-color: #23232e;
  transition: width 600ms ease;
  overflow: none;
  z-index: 9999;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  background: #141418;
  color: var(--text-secondary);
  color: #ececec;
}

.link-text {
  display: none;
  margin-left: 1rem;
  transition: var(--transition-speed);
}

.nav-link i {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fas {
  color: #fff;
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  color: #ececec;
  background: var(--bg-secondary);
  background: #141418;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo i {
  transform: rotate(-180deg);
}
/*#endregion /Navigation styling */

/*#region Navigation media queries */
/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 601px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo i {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
/*#endregion /Navigation media queries */

/*#region Main content Grid */
.main-grid {
  height: 100vh;
  display: grid;
  gap: 1rem;

  /* Explicit grid */
  grid-template-areas:
    "title"
    "search"
    "search-results"
    "footer";
  /* 4 rows that take up: 30%, 10%, 50% and 10% */
  grid-template-rows: 30vh 10vh auto 10vh;
  /* One column that fills the viewport */
  grid-template-columns: auto;
  --stagger-delay: 100ms;
}

@keyframes areaEntrance {
  from {
    opacity: 0;
    transform: scale (0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale (1);
    filter: hue-rotate(0deg);
  }
}

.grid-area {
  animation: areaEntrance 700ms ease-out;
  animation-fill-mode: backwards;

  /* Aligns content to center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Grid-area details */
  background: white;
  color: black;
  height: 100%;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-area:nth-child(1) {
  grid-area: title;
  animation-delay: calc(1 * var(--stagger-delay));
}

.grid-area:nth-child(2) {
  grid-area: search;
  animation-delay: calc(2 * var(--stagger-delay));
}

.grid-area:nth-child(3) {
  grid-area: search-results;
  animation-delay: calc(3 * var(--stagger-delay));
}

/* On small screens footer is hidden */
@media only screen and (max-width: 600px) {
  .grid-area:last-child {
    grid-area: footer;
    animation-delay: calc(4 * var(--stagger-delay));
  }
}
/*#endregion /Main content Grid */

/*#region Title */
.main-title {
  font-size: 4vw;
}

.main-lead {
  font-size: 1.5vw;
}

@media only screen and (max-width: 866px) {
  .main-title {
    font-size: 5vw;
  }

  .main-lead {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 7vw;
  }

  .main-lead {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 383px) {
  .main-title {
    font-size: 7vw;
  }

  .main-lead {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 318px) {
  .main-title {
    font-size: 6vw;
  }

  .main-lead {
    font-size: 3.5vw;
  }
}
/*#endregion /Title */

/*#region Search Results */
.card-container {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in;
  border-radius: 8px;
  width: 400px;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.column {
  flex-direction: column;
  flex: 1;
}

.column div {
  padding: 0.5rem;
}

.card-image {
  flex: 0.5;
}

.card-image img {
  display: block;
  height: 60px;
  margin: 1rem;
}

.card-acronym {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.card-definition {
  font-size: 1.2rem;
}
/*#endregion /Search Results */

/*#region Footer */
.footer {
  background: var(--bg-secondary);
  background: #141418;
  color: var(--text-secondary);
  color: #ececec;
}
/*#endregion /Footer */
